/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    /* border: 0px solid lightblue; */
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}

body {
    line-height: 1.5;
}

ol,
ul {
    list-style: disc;
    list-style-position: inside;
    line-height: 2;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Set every element's box-sizing to border-box */

* {
    box-sizing: border-box;
    /* border: 1px solid blue !important; */
}

html,
body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

h2{
    font-size: 25px;
}


/****************WORK HERE********************/


.container{
    width: 880px;
    display: flex;
    flex-direction: column;
    margin: auto;
}






/* header */

header {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

header nav {
    width: 691px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 35px; */
}

header nav a {
    font-size: 14px;
    color: gray;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}

header nav a:first-child {
    margin-left: 0;
}

header nav a:last-child {
    margin-right: 75px;
}

/* main content */

.top-content {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-content {
    border-top: 1px solid black;
    margin-top: 25px;
    padding: 25px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-content div{
    border: 1px solid black; 
    width: 47%;  
    margin-top: 35px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.main-content button {
    background: white;
    /* vertical-align: top; */
    /* margin-top: 6px; */
    padding: 8px 44px;
    font-size: 12px;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 4px;
}

.bottom-content {
    border-top: 1px solid black;
    margin-top: 25px;
    padding: 50px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;    
}
                                     
.bottom-content .text-content{
    display: flex;
    flex-direction: column;
}

.banner .services-header-img {
    margin-top: 25px;
}

footer {
    margin: 32px 0;
    text-align: center;
    font-size: 14px;
}

@media screen and (max-width: 800px) { 

    .container {
        width: 100%;
        /* TB LR */
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: 0 3%;
    }

    header {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        margin-top: 35px;
        align-items: center;
    }

    header nav{
        width: 100%;
    }

    header nav a:first-child {
        margin-left: 0;
    }
    
    header nav a:last-child {
        margin-right: 0px;
    }

    header .logo{
        max-width: 100vh;
        margin-bottom: 35px;
    }

    .services-header-img{
        max-width: 100%;
    }

    .bottom-content div{
        width: 50%;
    }

    .bottom-content div:first-child{
        margin-right:2%;
    }

    .services-info-img{
        max-width: 100%;
    }
  }


  
  /***************500 PX**************/

  @media screen and (max-width: 500px) {
    
    .container {
        width: 100%;        
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    
    header {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        margin-top: 35px;
        align-items: center;
    }

    header nav{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-bottom: 5%;        
    }

    header div{
        border-top: 1px solid black;
        padding: 3.5%;
        width: 100%;        
        text-align: center;
    }

    header nav div:last-child{
        border-bottom: 1px solid black;
    }

    header nav a{
        border-width: 100%;
    }

    header nav a:first-child {
        margin-left: 0;
    }
    
    header nav a:last-child {
        margin-right: 0px;
    }

    .top-content, .main-content, .bottom-content, footer{
        /* border: 1px solid blue; */
        margin-left: 5%;
        margin-right: 5%;
    }

    header .logo{
        width:35vh;
        margin-bottom: 35px;
    }

    .banner{
        display: none;
    }

    .cta-img{
        display: none;
    }

    .cta{
        max-width: 100%;
    }

    .top-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .text-content{
        padding-bottom: 5%;
    }


    .main-content{
        display: flex;
        flex-direction: column;
    }

    .main-content div{
        width: 100%;
    }


    .main-content .bottom-content{
        /* border: 1px solid blue; */
        padding: 0 0;
        flex-direction: column; 
    }


    .main-content .bottom-content .text-content{
        /* border: 1px solid blue; */
        width: 100%;
    }

    .bottom-content .text-content{
        width: 100%;
    }

    .bottom-content .services-img-div{
        display: none;
    }


    .contact {
        /* margin-top: 57px; */
        border-top: 1px solid black;
        padding: 0;
        padding-top: 5%;
    }
  }